*.pyc
*.db
.project
.pydevproject
venv
dist
*.egg-info
db.sqlite3
db.sqlite3
.vs
db.sqlite3

/dashboard/dashapp/micros1/invoiceresult.json
/dashboard/~$sample-invoice-xl_MAY2019.xlsx
/dashboard/sample-invoice-xl_MAY2019.xlsx
