*.pyc
*.db
.project
.pydevproject
venv
dist
*.egg-info
*.sqllite3
db.sqlite3
db.sqlite3
.vs
db.sqlite3
.vs/*
/dashboard/dashapp/micros1/invoiceresult.json
/dashboard/~$sample-invoice-xl_MAY2019.xlsx
/dashboard/sample-invoice-xl_MAY2019.xlsx
/README.md
/micros2_configs.yml
