asn1crypto==0.24.0
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
Click==7.0
configparser==3.5.0
cryptography==2.3.1
Django==2.1.7
Flask==1.0.2
Flask-Testing==0.7.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
linkinvclient==1.1
MarkupSafe==1.1.1
micros1client==1.5
pkg-resources==0.0.0
pycparser==2.19
PyJWT==1.7.0
pytz==2018.9
PyYAML==3.13
requests==2.20.1
six==1.11.0
tokenclient==0.5
urllib3==1.24.1
Werkzeug==0.14.1

