{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:striker_list_responces'  XL_VIEW_UPLOAD.request_id  as list_exec_stat %}

   <div class="container-fluid" style="padding-top:7px">
        <h4> Refresh the page after a while  to check progress</h4>
               
        <table class="table table-striped table-hover">
            <thead >
                <tr style="background-color: #4CAF50;font-size:10px">
                    
                    <th>Inv No</th>
                    <th>Execution Status</th>
                    <th>Time</th>                 
                    
                </tr>
            </thead>
            <tbody>
                {% for l in list_exec_status %}                
                  <tr style="font-size:10px">                   
                    <td>{{ l.invoicenum }}</td>
                    <td>{{ l.exec_status }}</td>
                    {% if l.wfcdict.timestamp  %}
                    <td>{{ l.wfcdict.timestamp }}</td>
                    {% elif l.wfcdict.time_stamp  %}
                    <td>{{ l.wfcdict.time_stamp }}</td>
                    {% else %}
                     <td>key_error</td>  
                     {% endif %}           
                  </tr>
                  
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{list_exec_status}}
    {{ update_request }}
    {{ update_request.customername }}
    
{% endblock content-area %}




