
<div class="table-responsive" style="width:60%">
    <div class="tim-row" id="tutorial">
        <h4 class="text-left">Add User</h4>
        <legend></legend>
    </div>
    <!--<form action="/action_page.php">-->
    <div style="padding-left:100px">
        <div class="form-group">
            <label for="email">User Name:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="Role">Role:</label>
            <select class="form-control" id="Role">
                <option>Select</option>
                {% for rol in list_role %}
                <option>{{ rol.name  }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="org">Organization:</label>
            <select class="form-control" id="org">
                <option>Select</option>
                {% for org in list_org %}
                <option>{{ org.name  }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="email">Organization Unit:</label>
            <input type="email" class="form-control" id="Organizationunit">
        </div>
        <div class="form-group">
            <label for="dept">Department:</label>
            <select class="form-control" id="dept">
                <option>Select</option>
                {% for dept in list_dept %}
                <option>{{ dept.name  }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="email">Work Function Context:</label>
            <input type="email" class="form-control" id="wfc">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="Password">
        </div>
        <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" class="form-control" id="cnfrmPassword">
        </div>
        <!--<div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>-->
        <button type="submit" class="btn btn-default" style="width:300px">Submit</button>
        <br /><br />
        <br />        <!--</form>-->
    </div>
</div>