

 <form action="{% url 'dashapp:adduser' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<div class="table-responsive" style="width:60%">
    <div class="tim-row" id="tutorial">
        <h4 class="text-left">Add User</h4>
        <legend></legend>
    </div>
    <!--<form action="/action_page.php">-->
    <div style="padding-left:100px">
        <div class="form-group">
            <label for="uname">User Name:</label>
            <input type="text" class="form-control" id="uname">
        </div>
        <div class="form-group">
            <label for="password">User Name:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="cnfmpassword">User Name:</label>
            <input type="password" class="form-control" id="cnfmpassword">
        </div>
      <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="role">Role:</label>
            <select class="form-control" id="role">
                <option>Select</option>
                {% for rol in ROLELIST %}
                <option>{{ rol.name  }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="org">Organization:</label>
            <select class="form-control" id="org">
                <option>Select</option>
                {% for org in ORGLIST %}
                <option>{{ org.name  }}</option>
                {% endfor %}
            </select>
        </div>       
        <div class="form-group">
            <label for="wfc">Work Function Context:</label>
            <select class="form-control" id="wfc">
                <option>Select</option>
                {% for wfc in WFCLIST %}
                <option>{{ wfc.name  }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success" style="width:300px">Submit</button>
        <br /><br /> 
    </div>
</div>
</form>