{% load i18n %}
{% load l10n %}
{% load static %}


 <form action="{% url 'dashapp:add_wfc' %}" method="POST" enctype="multipart/form-data"  >
  
{% csrf_token %}    
    
<div class="table-responsive" style="width:60%">
    <div class="tim-row" id="tutorial">
        <h4 class="text-left">Add WFC</h4>
        <legend></legend>
    </div>
    <!--<form action="/action_page.php">-->
    <div style="padding-left:100px">
        <div class="form-group">
            <label for="fname">WFC Name:</label>
            <input type="text" class="form-control" id="fname" name="fname">
        </div>
        <div class="form-group">
            <label for="orgname">ORG Name:</label>
            <select class="form-control" id="orgname" name="orgname">
                <option>Select</option>
                {% for orgname in ORGLIST %}
                <option>{{ orgname.name  }}</option>
                {% endfor %}
            </select>
        </div>          
        <div class="form-group">
            <label for="wfc">Work Function Context:</label>
            <select class="form-control" id="wfc" name="wfc">
                <option>Select</option>
                {% for wfc in WFCLIST %}
                <option>{{ wfc.name  }}</option>
                {% endfor %}              
            </select>
        </div>
        <div class="form-group">
            <label for="deptname">Department:</label>
            <select class="form-control" id="deptname" name="deptname">
                <option>Select</option>
                {% for dept in DEPTLIST %}
                <option>{{ dept.name  }}</option>
                {% endfor %}              
            </select>
        </div>
        <button type="submit" class="btn btn-success" style="width:300px">Submit</button>
        <br /><br /> 
    </div>
</div>
</form>
