{% extends "home.html" %}
	     
{% block admin_dropdowns %}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top " >    
          <a class="navbar-brand" href="#"> <span class="float-left">ITSS</span></a>
	  <ul class="navbar-nav">  
	
	    <!-- Dropdown 1 -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
    
   <!-- Dropdown 2 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li> 
      
  </ul>
  
  <div class="nav-text  text-primary" >
             INVOICE PROCESSING SYSTEM
            </div> 
       
      <ul class="navbar-nav justify-content-end">
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
             {{ user_details.username }} 
          </a>
             <div class="dropdown-menu">
                <p class="dropdown-item">{{ user_details.wfc.org }}</p>
                <p class="dropdown-item">{{ user_details.email }}</p>
                <a class="dropdown-item" href="#">log out</a>
             </div> 
       </li>
      </ul>         
   
         </nav>
 {% endblock admin_dropdowns %}
		  