{% load i18n %}
{% load l10n %}
{% load static %}


 <form action="{% url 'dashapp:add_service' %}" method="POST" enctype="multipart/form-data"  >
  
{% csrf_token %}    
    
    
<div class="table-responsive" style="width:60%">
    <div class="tim-row" id="tutorial">
        <h4 class="text-left">Add User</h4>
        <legend></legend>
    </div>
    <!--<form action="/action_page.php">-->
    <div style="padding-left:100px">
        <div class="form-group">

            <label for="servicename">Service Name:</label>
            <input type="text" class="form-control" id="servicename" name="servicename" required>
        </div>
        <div class="form-group">
            <label >Internal URL:</label>
            <input class="form-control" id="urlinternal" name="urlinternal" required>
        </div> 
      <div class="form-group">
            <label >External URL:</label>
            <input class="form-control" id="urlexternal" name="urlexternal">
        </div>
          <div class="form-group">
            <label >Admin URL:</label>
            <input class="form-control" id="urladmin" name="urladmin">
        </div>

        <button type="submit" class="btn btn-success" style="width:300px">Save Service</button>
        <br /><br /> 
    </div>
</div>
</form>

<div class="table-wrapper">
  <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Catalog Service <b>Details</b></h3></div>
            <div class="col-sm-4">
                
            </div>
        </div>
    </div>

  <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if DELETE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    {{DELETE_STATUS.status}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a Service, Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Service Name</th>
                <th>Internal URL</th>
                <th>External URL</th>
                <th>Admin URL</th>
                
            </tr>
        </thead>
        <tbody>
        {{list_services}}
        addstatus -- {{addstatus}}
        delete status -- {{DELETE_STATUS}}
        servicename -- {{servicename}}
            {% for srvs in list_services.status %}
            <tr style="font-size:11px">
                <td>{{ srvs.name }}</td>
                <td>{{ srvs.endpoint_url_internal }}</td>                
                <td> {{ srvs.endpoint_url_external }} </td>
                <td> {{ srvs.endpoint_url_admin}} </td>
                 
                <td> 
                <form action="{% url 'dashapp:delete_service' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="servicename" name="servicename" value="{{srvs.name}}"  class="form-control">
                        <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete User')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>         
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
