{% load i18n %}
{% load l10n %}
{% load static %}
<!DOCTYPE html>
<html>
<head runat="server">
    <title>TSP Billing</title>

    <link rel="stylesheet" type="text/css" href='{% static "dashapp/styles/grids-responsive-min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "dashapp/styles/W3_Menu.css" %}'>
    <script src='{% static "dashapp/styles/jquery.min.js" %}' type="text/javascript"></script>
    <!--<link href="styles/grids-responsive-min.css" rel="stylesheet" />
        <link href="styles/W3_Menu.css" rel="stylesheet" />
    <script src="../styles/jquery.min.js" type="text/javascript"></script>-->

</head>
<body>

    <div>
        <div class="w3-sidebar w3-bar-block w3-border-right" style="display: none" id="mySidebar">
            <button onclick="w3_close();return false;" class="w3-bar-item w3-large">Close &times;</button>
            <a id="M0Home2" href="#" class="w3-bar-item w3-button">Home</a>
            <a id="M1InvCompare" href="#" class="w3-bar-item w3-button">List Users</a>
            <a id="M1InvCompare2" href="#" class="w3-bar-item w3-button">Add Users</a>
            <a id="M1InvCompare" href="#" class="w3-bar-item w3-button">Lis Organizations</a>
            <a id="M2InvAppr" href="#" class="w3-bar-item w3-button">Invoice Approvals</a>
        </div>

        <!-- Page Content -->
        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge" onclick="w3_open();return false;">☰</button>
            <div class="w3-container">
                <h1>TSP Billing</h1>
            </div>
        </div>

        <script>
            function w3_open() {
                document.getElementById("mySidebar").style.display = "block";
            }

            function w3_close() {
                document.getElementById("mySidebar").style.display = "none";
                return false;
            }

        </script>




        <!--<script type="text/javascript">
        $('#M0Home').click(function (evt) {
            window.location.href = 'Default.aspx';
        });
        $('#M0Home2').click(function (evt) {
            window.location.href = '../Default.aspx';
        });
        $('#M1InvCompare').click(function (evt) {
            window.location.href = '../InvoieCompare.aspx';
        });
        $('#M2InvAppr').click(function (evt) {
            window.location.href = '../ManageInvoiceApproval.aspx';
        });
        $('#M2InvAppr').click(function (evt) {
            window.location.href = '../ManageInvoiceApproval.aspx';
        });
        $('#M3UserLoginLog').click(function (evt) {
            window.location.href = '../Audit/UserLoginLog.aspx';
        });
        $('#M4InvUpload').click(function (evt) {
            window.location.href = '../Audit/ExcelInvoice.aspx';
        });
    </script>-->
        <a href="{% url 'dashapp:list_users'  %}"> List Users  </a> <br>
        <a href="{% url 'dashapp:list_links'  %}"> List Links  </a> <br>
    </div>
</body>
</html>
