{% load i18n %}
{% load l10n %}
{% load static %}
{% static "dashapp/images/automated-invoice-processing.jpeg" as photo1 %}
{% static "dashapp/images/invoice-pic.jpeg" as photo2 %}
{% static "dashapp/images/Utility-Bill-Processing-Services-617x260.jpg" as photo3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} INFO-OPS INVOICE PROCESSING SYSTEM {% endblock  %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


<body>
    
    <div class="container">
    {% block navigation_bar %}
        {% include "navigation_bar.html" %}
    {% endblock navigation_bar %}
    </div>
    
    <br><br>
    
    <div class="container-fluid py-1"  style="background-image: url('{{ photo2 }}'); 
                           opacity:0.4" >
        <h3 class="display text-center font-weight-bold" style="color:green">
                     Info-ops Invoice Processing System</h3>
                     
    </div>
    
    
    <div class="container-fluid ">  
        {% block content-area %}     
            <div class="jumbotron  jumbotron-fluid jumbo-text"  
                    style="background-image: url('{{ photo1 }}'); 
                           opacity:0.3" >
                <p class="lead text-center font-weight-bold" style="color:red">
                     Python Micro Services to automate invoice processing !!</p>
                <br><br><br>
                
            </div> 
        {% endblock content-area %}
    </div>
    
</body>

</html>



<!--  

  {'email': 'user1', 'allowemaillogin': 'N', 
  'wfc': {'name': 'wfc1', 'orgunit': 'ou1', 'department': 'dept1', 
          'id': 1, 'creation_date': '2019-07-04 15:03:08', 'org': 'org1', 
          'created by': None, 'is_active': 'Y'}, 
   'roles': ['role1'], 
   'username': 'user1', 
   'id': 1, 'creation_date': '2019-07-04 15:04:09', 
   'otp_mode': '', 'created by': None, 'is_active': 'Y'}
-->
   
   <!--   <div id="sidebar" class="row">
    {% block sidebar %}   {% endblock %}
    </div> -->
    
