{% block content %}
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Invoice Update <b>Upload</b></h3></div>
        </div>
    </div>
    <br /><br />

    <form method="post" class="md-form" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<input type="file" name="myfile">
        <button type="submit">Upload</button>-->
        <div class="file-field" style="width:400px">
            <div class="btn btn-primary btn-sm float-left" style="width:400px">
                <span>Choose Invoice file </span>
                <input type="file" name="myfile" style="width:350px">
            </div><br /><br />
            <div class="file-path-wrapper" align="right">
                <input class="file-path validate" type="submit" value="upload" placeholder="Upload Invoice update xl file" style="width:150px">
            </div>
        </div>
    </form>


    {{UPLOAD_UPDATE_STATUS}}
  List ---   {{ UPLOAD_UPDATE_STATUS|make_list }}

    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h3>Upload status</h3></div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr style="font-size:12px">
                    <th> Invoice No</th>
                    <th>Upload status</th>
                </tr>

            </thead>
            <tbody>



                {% for i in UPLOAD_UPDATE_STATUS %}
                <tr style="font-size:11px">
                    <td>{{ UPLOAD_UPDATE_STATUS[i] }} </td>
                    <td> {{ i+1 }}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>


    {% endblock %}


    <!--['11111111111 skipped, no changes to update'
    , '22222222222 skipped, no changes to update'
    , '3333333333 skipped, no changes to update'
    , '44444444444 skipped, no changes to update'
    , '55555555555 skipped, no changes to update'
    , '6666666666 skipped, no changes to update'
    , '77777777777 skipped, no changes to update'
    , '88888888888 skipped, no changes to update'
    , '99999999999 skipped, no changes to update'
    , '555566666666 skipped, no changes to update'
    , '66666677777777 skipped, no changes to update'
    , '54524524652656 skipped, no changes to update'
    , '75676767647 skipped, no changes to update'
    , '7676476765 skipped, no changes to update'
    , '7676746764 skipped, no changes to update'
    , '6767676u76 skipped, no changes to update'
    , '4674676764 skipped, no changes to update'
    , '67674676 skipped, no changes to update'
    , '6767676 skipped, no changes to update'
    , '674567676 skipped, no changes to update'
    , '6767674 skipped, no changes to update'
    , '55635635635 skipped, no changes to update'
    , '65265653 skipped, no changes to update'
    , '656565 skipped, no changes to update'
    , '524656535 skipped, no changes to update'
    , '452748796 skipped, no changes to update'
    , '769680 skipped, no changes to update']-->
