{% load i18n %}
{% load l10n %}
{% load static %}

<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>-->
{% csrf_token %}
<form action="{% url 'dashapp:invoice_create' %}" method="get" enctype="multipart/form-data">

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">TSP:</label>
                        <input type="text" class="form-control" id="tsp">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">servicetype:</label>
                        <input type="text" class="form-control" id="servicetype">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">accountno:</label>
                        <input type="text" class="form-control" id="accountno">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">circuitid:</label>
                        <input type="text" class="form-control" id="circuitid">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">slno:</label>
                        <input type="text" class="form-control" id="slno">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ARC:</label>
                        <input type="text" class="form-control" id="arc">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Site ID:</label>
                        <input type="text" class="form-control" id="customerid">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Customer ID:</label>
                        <input type="text" class="form-control" id="customerid">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Premise Number:</label>
                        <input type="text" class="form-control" id="premiseno">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Premise Name:</label>
                        <input type="text" class="form-control" id="premisename">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">customername:</label>
                        <input type="text" class="form-control" id="customername">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">division:</label>
                        <textarea class="form-control" id="division"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Full Site Address:</label>
                        <input type="text" class="form-control" id="fullsiteaddress">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">State:</label>
                        <input class="form-control" id="state" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">PIN:</label>
                        <input class="form-control" id="pin" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">City:</label>
                        <input class="form-control" id="city" />
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Speed:</label>
                        <input class="form-control" id="speed" />
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">GST Number:</label>
                        <input class="form-control" id="gstno" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tax Name:</label>
                        <input class="form-control" id="taxname" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Total:</label>
                        <input class="form-control" id="total" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Invoice Date:</label>
                        <input class="form-control" id="invoicedate" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Billingdate From:</label>
                        <input class="form-control" id="billingdatefrom" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Billingdate To:</label>
                        <input class="form-control" id="billingdateto" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Remarks:</label>
                        <input class="form-control" id="remarks" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            onclick="return confirm('Are you sure? you want to delete all Invoices.\n This will Remove all invoices from the system.')"
                            style="width:200px">
                        Save Invoice
                    </button>
                </div>
            </div>
        </div>
    </div>

</form>