

{% block content %}
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Invoice <b>Upload</b></h3></div>
        </div>
    </div>
    <br /><br />

    <form method="post" class="md-form" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<input type="file" name="myfile">
        <button type="submit">Upload</button>-->
        <div class="file-field" style="width:400px">
            <div class="btn btn-primary btn-sm float-left" style="width:400px">
                <span>Choose Invoice file </span>
                <input type="file" name="myfile" style="width:350px">
            </div><br /><br />
            <div class="file-path-wrapper" align="right">
                <input class="file-path validate" type="submit" value="upload" placeholder="Upload Invoice xl file" style="width:150px">
            </div>
        </div>
    </form>


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Upload status</h3></div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
            	<th> Invoice No</th>
                <th>Upload status</th>                
            </tr>

        </thead>
        <tbody>
        
        {% for s in UPLOAD_STATUS %}
			<tr style="font-size:11px">
			<td>{{ s.invoice_num }} </td> <td> {{ s.status }}</td>		
			</tr>
		{% endfor %}
        
        </tbody>
    </table>
</div>



{% endblock %}
