{% load i18n %}
{% load l10n %}
{% load static %}

<style type="text/css">

    input[type=text] {
        width: 100%;
        margin: 1px 0;
        box-sizing: border-box;
        border: none;
    }

    body {
        color: #404E67;
        background: #F5F7FA;
        font-family: 'Open Sans', sans-serif;
    }

    .table-wrapper {
        width: 100%;
        margin: 10px auto;
        background: #fff;
        padding: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 5px;
        margin: 0 0 5px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    table.table {
        table-layout: inherit;
    }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

            table.table td a.add {
                color: #27C46B;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

            table.table .form-control.error {
                border-color: #f50000;
            }

        table.table td .add {
            display: none;
        }



    .treegrid-indent {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
    }

    .treegrid-expander {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
        left: -17px;
        cursor: pointer;
    }

    a.tooltip {
        outline: none;
    }

        a.tooltip strong {
            line-height: 30px;
        }

        a.tooltip:hover {
            text-decoration: none;
        }

        a.tooltip span {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: -30px;
            margin-left: 28px;
            width: 300px;
            line-height: 16px;
        }

        a.tooltip:hover span {
            display: inline;
            position: absolute;
            color: #111;
            border: 1px solid #DCA;
            background: #fffAF0;
        }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }

    /*CSS3 extras*/
    a.tooltip span {
        border-radius: 4px;
        box-shadow: 5px 5px 8px #CCC;
    }


    tr .spnTooltip {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -30px;
        margin-left: 28px;
        width: 300px;
        line-height: 16px;
    }

    tr:hover .spnTooltip {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }
</style>
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Invoice <b>Upload</b></h3></div>
        </div>
    </div>
    <br />


    <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if UPLOAD_RESULT is not null %}
                <div class="alert alert-success" role="alert">
                    Invoice file Upload operation completed. View the stauts below<br />
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while uploading a file, Please check the file format and server log. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>


    <form method="post" class="md-form" enctype="multipart/form-data">
        {% csrf_token %}
        <!--<input type="file" name="myfile">
        <button type="submit">Upload</button>-->
        <div class="file-field" style="width:400px">
            <div class="btn btn-primary btn-sm float-left" style="width:400px">
                <span>Choose Invoice file </span>
                <input type="file" name="myfile" style="width:350px">
            </div><br /><br />
            <div class="file-path-wrapper" align="right">
                <input class="file-path validate" type="submit" value="upload" placeholder="Upload Invoice xl file" style="width:150px">
            </div>
        </div>
    </form>

    {%if UPLOAD_STATUS is not null%}
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h3>Upload status</h3></div>
            </div>
        </div>
    </div>


    {%endif%}






</div>
<div class="table-wrapper">
    <table class="table table-hover table-bordepink">
        <thead>
            <tr style="font-size:12px">
                <th>Invoice No</th>
                <th>Upload status</th>
            </tr>
        </thead>
        <tbody>
            {% for s in UPLOAD_STATUS %}
            <tr data-id="{{s.invoice_num}}" data-parent="0" data-level="1" style=" font-size:11px;font-weight:bold">
                <td style="width:150px" >{{ s.invoice_num }} </td>
                <td>
                    {{ s.save_status }}
                </td>
            </tr>
            <tr data-id="{{ s.invoice_num }}_rcom" data-parent="{{ s.invoice_num}}" data-level="2"
                style=" background-color:lightcyan">
                <td colspan="10">
                    <table class="table table-hover table-bordepink" style="padding-left:50px;font-size:9px">
                        <tr>
                            <td style="width:150px">Inventory Status :</td>
                            <td style="background-color:
                                {% if s.invoice_json.inventory_status == 'Failed'%}
                                pink{%else%}lightgreen {%endif%}">
                                {{  s.invoice_json.inventory_status  }}
                            </td>
                        
                            <td style="width:150px">Local Network Status : </td>
                            <td style="background-color:
                                {% if s.invoice_json.lnet_status == 'Failed'%}
                                pink{%else%}lightgreen {%endif%}">
                                {{ s.invoice_json.lnet_status }}
                            </td>
                       
                            <td style="width:150px">Auto Check Status : </td>
                            <td style="background-color:
                                {% if s.invoice_json.autocheck_status == 'Failed'%}
                                pink{%else%}lightgreen {%endif%}">
                                {{s.invoice_json.autocheck_status  }}
                            </td>
                        </tr>
                        <tr><td colspan="2" style="font-weight:bold;text-align:center"> BOM Result</td></tr>
                        <tr>
                            <td colspan="2">
                                <div class="table-wrapper">
                                    <table  class="table table-hover table-bordepink">
                                        <thead>
                                        <th>Field</th>
                                        <th>Invoice Value</th>
                                        <th>Suggested value</th>
                                        </thead>
                                        {% for bom in s.invoice_json.bom_comp_result %}
                                        <tr>
                                            <td>{{bom.field}}</td>
                                            <td>{{bom.invoice_value}}</td>
                                            <td>{{bom.suggested_value}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src='{% static "dashapp/styles/Bootstrapv337.js" %}' type="text/javascript"></script>
<script src='{% static "dashapp/styles/jquery-1.12.4.min.js" %}' type="text/javascript"></script>
<script src='{% static "dashapp/styles/javascript.js" %}' type="text/javascript"></script>
