{% load i18n %}
{% load l10n %}
{% load static %}


<style type="text/css">

    input[type=text] {
        width: 100%;
        margin: 1px 0;
        box-sizing: border-box;
        border: none;
    }

    body {
        color: #404E67;
        background: #F5F7FA;
        font-family: 'Open Sans', sans-serif;
    }

    .table-wrapper {
        width: 100%;
        margin: 10px auto;
        background: #fff;
        padding: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 5px;
        margin: 0 0 5px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    table.table {
        table-layout: inherit;
    }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

            table.table td a.add {
                color: #27C46B;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

            table.table .form-control.error {
                border-color: #f50000;
            }

        table.table td .add {
            display: none;
        }



    .treegrid-indent {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
    }

    .treegrid-expander {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
        left: -17px;
        cursor: pointer;
    }

    a.tooltip {
        outline: none;
    }

        a.tooltip strong {
            line-height: 30px;
        }

        a.tooltip:hover {
            text-decoration: none;
        }

        a.tooltip span {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: -30px;
            margin-left: 28px;
            width: 300px;
            line-height: 16px;
        }

        a.tooltip:hover span {
            display: inline;
            position: absolute;
            color: #111;
            border: 1px solid #DCA;
            background: #fffAF0;
        }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }

    /*CSS3 extras*/
    a.tooltip span {
        border-radius: 4px;
        box-shadow: 5px 5px 8px #CCC;
    }


    tr .spnTooltip {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -30px;
        margin-left: 28px;
        width: 300px;
        line-height: 16px;
    }

    tr:hover .spnTooltip {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }
</style>







<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3><b>Manage Invoice</b> Approvals</h3></div>
        </div>
    </div>
    <table ID="tbllegend" style="width:300px;font-size:9px;font-weight:bold;color:blue" border="1">
        <tr>
            <td style="width:30%;"> </td>
            <td>TSP Recent Entries</td>
        </tr>
        <tr>
            <td style="width:30%; background-color:#a6c06d"></td>
            <td>ITC Recommendations </td>
        </tr>
        <tr>
            <td style="width:30%;background-color:lightgray"> </td>
            <td>TSP Old Entries </td>
        </tr>
        <tr>
            <td style="width:30%;background-color:lightgreen"> </td>
            <td>TSP Accepted</td>
        </tr>
    </table>
    {% csrf_token %}
    {% if Inv.recom_doc.xldata.invoiceno is null and Inv.current_doc.status != 'tspAccepted' %}

    {% endif %}
    <table id="tree-table" class="table table-hover table-bordepink" width="1500">
        <thead>
            <tr style="font-size:12px">
                <th></th>
                <th></th>
                <th>Invoice Number</th>
                <th>Circuit ID</th>
                <th>Division</th>
                <th>Tax Name</th>
                <th>Full Address</th>
                <th>GST No</th>
                <th>State</th>
                <th>Billing Date_From</th>
                <th>City</th>
                <th>Premise Name</th>
                <th>processing_status</th>
                <th>Customer_id</th>
                <th>Premise No</th>
                <th>Billing Date_TO</th>
                <th>Speed</th>
                <th>Remarks</th>
                <th>Invoice Date</th>
                <th>Service Type</th>
            </tr>
        </thead>
        <tbody>
            {% for Inv in list_invoices%}
            <tr data-id="{{ Inv.current_doc.xldata.invoiceno}}" data-parent="0" data-level="1" style="font-size:11px;
            background-color:
                {% if Inv.current_doc.status == 'tspAccepted'%}
                    lightgreen
                    {% elif Inv.recom_doc.xldata.invoiceno is not null%}
                        #a6c06d
                    {%else%}
                    transparent
                    {%endif%}">
                <td>
                    <button type="button" class="btn btn-success btn-xs">Approve</button>
                </td>
                <td>
                    <button type="button" class="btn btn-warning btn-xs">Reject</button>
                </td>
                <td data-column="name" style="width:150px">{{ Inv.current_doc.xldata.invoiceno}} </td>
                <td>{{ Inv.current_doc.xldata.circuitid }}</td>
                <td>{{ Inv.current_doc.xldata.division }} </td>
                <td>{{ Inv.current_doc.xldata.taxname }}</td>
                <td>{{ Inv.current_doc.xldata.customername }} </td>
                <td>{{ Inv.current_doc.xldata.fullsitedddress}} </td>
                <td>{{ Inv.current_doc.xldata.gstno}} </td>
                <td>{{ Inv.current_doc.xldata.state}} </td>
                <td>{{ Inv.current_doc.xldata.billingdatefrom}} </td>
                <td>{{ Inv.current_doc.xldata.city}} </td>
                <td>{{ Inv.current_doc.xldata.premisename}} </td>
                <td>{{ Inv.current_doc.processing_status}} </td>
                <td>{{ Inv.current_doc.Customer_id}} </td>
                <td>{{ Inv.current_doc.xldata.premiseno}} </td>
                <td>{{ Inv.current_doc.xldata.billingdateto}} </td>
                <td>{{ Inv.current_doc.xldata.speed}} </td>
                <td>{{ Inv.current_doc.remarks}} </td>
                <td>{{ Inv.current_doc.InvoiceDate}} </td>
                <td>{{ Inv.current_doc.servicetype}} </td>
            </tr>
            {% if Inv.last_doc.xldata.invoiceno is not null%}
            <tr data-id="{{ Inv.current_doc.xldata.circuitid }}_test2" data-parent="{{ Inv.current_doc.xldata.invoiceno}}" data-level="2"
                style="font-size:11px;  background-color:lightgray ">
                <td style="width:150px">{{ Inv.last_doc.xldata.invoiceno}} </td>
                <td>{{ Inv.last_doc.xldata.circuitid }}</td>
                <td>{{ Inv.last_doc.xldata.division }} </td>
                <td>{{ Inv.last_doc.xldata.taxname }}</td>
                <td>{{ Inv.last_doc.xldata.customername }} </td>
                <td>{{ Inv.last_doc.xldata.fullsitedddress}} </td>
                <td>{{ Inv.last_doc.xldata.gstno}} </td>
                <td>{{ Inv.last_doc.xldata.state}} </td>
                <td>{{ Inv.last_doc.xldata.billingdatefrom}} </td>
                <td>{{ Inv.last_doc.xldata.city}} </td>
                <td>{{ Inv.last_doc.xldata.premisename}} </td>
                <td>{{ Inv.last_doc.processing_status}} </td>
                <td>{{ Inv.last_doc.Customer_id}} </td>
                <td>{{ Inv.last_doc.xldata.premiseno}} </td>
                <td>{{ Inv.last_doc.xldata.billingdateto}} </td>
                <td>{{ Inv.last_doc.xldata.speed}} </td>
                <td>{{ Inv.last_doc.remarks}} </td>
                <td>{{ Inv.last_doc.InvoiceDate}} </td>
                <td>{{ Inv.last_doc.servicetype}} </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <!--First tooltip-->
    <a href="#" class="tooltip">
        Tooltip
        <span>

            <strong>Most Light-weight Tooltip</strong><br />
            This is the easy-to-use Tooltip driven purely by CSS.
        </span>
    </a>
    <!--<a title="tootltip" href="#">fwffw</a>
    <table>
        <tr><th>Detailed view</th></tr>
        <tr title="row 1">
            <td>
                <span class="spnDetails">Details</span><span class="spnTooltip">

                    <strong>Most Light-weight Tooltip</strong><br />
                    This is the easy-to-use Tooltip driven purely by CSS.
                </span>
            </td>
        </tr>
        <tr title="row 2">
            <td>
                <span class="spnDetails">Details</span><span class="spnTooltip">

                    <strong>Most Light-weight Tooltip</strong><br />
                    This is the easy-to-use Tooltip driven purely by CSS.
                </span>
            </td>
        </tr>
    </table>-->

    <script src='{% static "dashapp/styles/Bootstrapv337.js" %}' type="text/javascript"></script>
    <script src='{% static "dashapp/styles/jquery-1.12.4.min.js" %}' type="text/javascript"></script>
    <script src='{% static "dashapp/styles/javascript.js" %}' type="text/javascript"></script>

    <!--<form action="{% url 'dashapp:invoice_delete' %}" method="get" enctype="multipart/form-data">
        <button type="submit" class="btn btn-danger"
                onclick="return confirm('Are you sure? you want to delete all Invoices.\n This will Remove all invoices from the system.')"
                style="width:300px">
            Delete All Invoices
        </button>
    </form>
    {{DELETE_STATUS}}-->
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<div class="container">
    <h2>Button Styles</h2>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
</div>-->
