{% load i18n %}
{% load l10n %}
{% load static %}


<style type="text/css">

    input[type=text] {
        width: 100%;
        margin: 1px 0;
        box-sizing: border-box;
        border: none;
    }

    body {
        color: #404E67;
        background: #F5F7FA;
        font-family: 'Open Sans', sans-serif;
    }

    .table-wrapper {
        width: 100%;
        margin: 10px auto;
        background: #fff;
        padding: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 5px;
        margin: 0 0 5px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    table.table {
        table-layout: inherit;
    }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

            table.table td a.add {
                color: #27C46B;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

            table.table .form-control.error {
                border-color: #f50000;
            }

        table.table td .add {
            display: none;
        }



    .treegrid-indent {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
    }

    .treegrid-expander {
        width: 0px;
        height: 16px;
        display: inline-block;
        position: relative;
        left: -17px;
        cursor: pointer;
    }

    a.tooltip {
        outline: none;
    }

        a.tooltip strong {
            line-height: 30px;
        }

        a.tooltip:hover {
            text-decoration: none;
        }

        a.tooltip span {
            z-index: 10;
            display: none;
            padding: 14px 20px;
            margin-top: -30px;
            margin-left: 28px;
            width: 300px;
            line-height: 16px;
        }

        a.tooltip:hover span {
            display: inline;
            position: absolute;
            color: #111;
            border: 1px solid #DCA;
            background: #fffAF0;
        }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }

    /*CSS3 extras*/
    a.tooltip span {
        border-radius: 4px;
        box-shadow: 5px 5px 8px #CCC;
    }


    tr .spnTooltip {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        margin-top: -30px;
        margin-left: 28px;
        width: 300px;
        line-height: 16px;
    }

    tr:hover .spnTooltip {
        display: inline;
        position: absolute;
        color: #111;
        border: 1px solid #DCA;
        background: #fffAF0;
    }

    .callout {
        z-index: 20;
        position: absolute;
        top: 30px;
        border: 0;
        left: -12px;
    }
</style>


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3><b>Manage Invoice</b> Details</h3></div>
        </div>
    </div>
    <table ID="tbllegend" style="width:300px;font-size:9px;font-weight:bold;color:blue" border="1">
        <tr>
            <td style="width:30%;"> </td>
            <td>TSP Recent Entries</td>
        </tr>
        <tr>
            <td style="width:30%; background-color:#a6c06d"></td>
            <td>ITC Recommendations </td>
        </tr>
        <tr>
            <td style="width:30%;background-color:lightgray"> </td>
            <td>TSP Old Entries </td>
        </tr>
        <tr>
            <td style="width:30%;background-color:lightgreen"> </td>
            <td>TSP Accepted</td>
        </tr>
    </table>


    <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if DELETE_INVOICE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    Invoice(s) Deleted Successfully.<br />{{DELETE_INVOICE_STATUS}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a Invoice(s), Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    
    
    ACCEPT_invoicelist -- {{ACCEPT_invoicelist}}
    ACCEPT_STATUS -- {{ACCEPT_STATUS}}
    TESTDATA -- {{TESTDATA}}
 <form action="{% url 'dashapp:invstore_invoice_update' %}" method="post"
				enctype="multipart/form-data">
				{% csrf_token %} 

    <table id="tree-table"   class="table table-hover table-bordepink" width="1500">
        <thead>
            <tr style="font-size:12px">
                
                <th>Invoice Number</th>
                <th>Infoops ID</th>
                <th>Circuit ID</th>
                <th>Division</th>
                <th>Tax Name</th>
                <th>Full Address</th>
                <th>GST No</th>
                <th>State</th>
                <th>Billing Date_From</th>
                <th>City</th>
                <th>Premise Name</th>
                <th>processing_status</th>
                <th>Customer_id</th>
                <th>Premise No</th>
                <th>Billing Date_TO</th>
                <th>Speed</th>
                <th>Remarks</th>
                <th>Invoice Date</th>
                <th>Service Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
       {% for hstlist in invstore_list_invoices%} 
		 {%for Inv in  hstlist.history_list %}
			{% if Inv.status != 'archived'%}
 				
            <tr data-id="{{Inv.invoiceno}}" data-parent="0" data-level="1" style="font-size:11px;
            	background-color:
                	{% if Inv.current_doc.status == 'tspAccepted'%}
                    lightgreen
                    {% elif Inv.recom_doc.xldata.invoiceno is not null%}
                     #a6c06d
                    {%else%}
                    transparent
                    {%endif%}" >
                
                <td data-column="name" style="width:150px">{{ Inv.xldata.invoiceno}} </td>
                <td>{{ Inv.xldata.infoid }}</td>                
                <td>{{ Inv.xldata.circuitid }}</td>
                <td>{{ Inv.xldata.division }} </td>
                <td>{{ Inv.xldata.taxname }}</td>
                <td>{{ Inv.xldata.customername }} </td>
                <td>{{ Inv.xldata.fullsitedddress}} </td>
                <td>{{ Inv.xldata.gstno}} </td>
                <td>{{ Inv.xldata.state}} </td>
                <td>{{ Inv.xldata.billingdatefrom}} </td>
                <td>{{ Inv.xldata.city}} </td>
                <td>{{ Inv.xldata.premisename}} </td>
                <td>{{ Inv.xldata.current_doc.processing_status}} </td>
                <td>{{ Inv.xldata.current_doc.Customer_id}} </td>
                <td>{{ Inv.xldata.premiseno}} </td>
                <td>{{ Inv.xldata.billingdateto}} </td>
                <td>{{ Inv.xldata.speed}} </td>
                <td>{{ Inv.xldata.current_doc.remarks}} </td>
                <td>{{ Inv.xldata.current_doc.InvoiceDate}} </td>
                <td>{{ Inv.xldata.current_doc.servicetype}} </td>
                <td>{{ Inv.status}} </td>
            </tr>
             {% endif %}
         {% endfor %}
         {% for Inv in hstlist.recom_list %} 
            {% if Inv.status == 'Active'%}
            <tr  data-id="{{Inv.xldata.invoiceno}}_rcom" data-parent="{{Inv.xldata.invoiceno}}" data-level="2" style="font-size:10px;background-color:lightblue">
            	 
            	<td>
<!-- 					<form action="{% url 'dashapp:invstore_invoice_accept' %}" method="post" -->
<!-- 						enctype="multipart/form-data"> -->
<!-- 						{% csrf_token %} <input type="hidden" id="invoiceno" -->
<!-- 							name="invoiceno" value="{{Inv.xldata.invoiceno}}"> -->
<!-- 						<button type="submit" class="btn btn-success btn-xs" -->
<!-- 							onclick="return confirm('Are you sure? you want to Accept recommended Invoice')"> -->
<!-- 							Accept -->
<!-- 						</button> -->
<!-- 						<a class="delete"  title="Delete Invoice" data-toggle="tooltip" ><i class="material-icons">&#xE872;</i></a> -->
<!-- 					</form>					  -->
				</td>
                <td style="width:150px;padding: 4px;">{{ Inv.xldata.invoiceno}}
                <input  type="hidden" id="invoiceno_{{Inv.xldata.slno}}" name="invoiceno_{{Inv.xldata.slno}}" value="{{Inv.xldata.invoiceno}}" >
                </td>
                <td style="padding: 4px;">{{ Inv.xldata.circuitid }} <input class="form-control form-control-sm" type="hidden"  id="circuitid_{{Inv.xldata.slno}}" name="circuitid_{{Inv.xldata.slno}}"  value='{{Inv.xldata.circuitid}}' ></td>
                <td style="padding: 4px;">{{ Inv.xldata.division }} <input class="form-control form-control-sm" type="hidden"  id="division_{{Inv.xldata.slno}}" name="division_{{Inv.xldata.slno}}"  value='{{Inv.xldata.division}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="taxname_{{Inv.xldata.slno}}" name="taxname_{{Inv.xldata.slno}}"  value='{{Inv.xldata.taxname}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="customername_{{Inv.xldata.slno}}" name="customername_{{Inv.xldata.slno}}"  value='{{Inv.xldata.customername}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="address_{{Inv.xldata.slno}}" name="fullsiteaddress_{{Inv.xldata.slno}}"  value='{{Inv.xldata.fullsiteaddress}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="gstno_{{Inv.xldata.slno}}" name="gstno_{{Inv.xldata.slno}}"  value='{{Inv.xldata.gstno}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="state_{{Inv.xldata.slno}}" name="state_{{Inv.xldata.slno}}"  value='{{Inv.xldata.state}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="billingdatefrom_{{Inv.xldata.slno}}"  name="billingdatefrom_{{Inv.xldata.slno}}"  value='{{Inv.xldata.billingdatefrom}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="city_{{Inv.xldata.slno}}" name="city_{{Inv.xldata.slno}}"  value='{{Inv.xldata.city}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="premisename_{{Inv.xldata.slno}}" name="premisename_{{Inv.xldata.slno}}" value='{{Inv.xldata.premisename}}' ></td>
                <td style="padding: 4px;">{{ Inv.processing_status}} </td>
                <td style="padding: 4px;">{{ Inv.Customer_id}} </td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="premiseno_{{Inv.xldata.slno}}" name="premiseno_{{Inv.xldata.slno}}"  value='{{Inv.xldata.premiseno}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="billingdateto_{{Inv.xldata.slno}}" name="billingdateto_{{Inv.xldata.slno}}" value='{{Inv.xldata.billingdateto}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="speed_{{Inv.xldata.slno}}" name="speed_{{Inv.xldata.slno}}" value='{{Inv.xldata.speed}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="remarks_{{Inv.xldata.slno}}" name="remarks_{{Inv.xldata.slno}}" value='{{Inv.xldata.remarks}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="invoicedate_{{Inv.xldata.slno}}" name="invoicedate_{{Inv.xldata.slno}}" value='{{Inv.xldata.invoicedate}}' ></td>
                <td style="padding: 4px;"><input class="form-control form-control-sm" type="text"  id="servicetype_{{Inv.xldata.slno}}" name="servicetype_{{Inv.xldata.slno}}" value='{{Inv.xldata.servicetype}}' ></td>
          		<td>{{ Inv.status}} </td>				 
			</tr>	 
         {% endif %}
       {% endfor %}
     {% endfor %}
        </tbody>
    </table>

  
  
  <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure? you want to save chaged Invoices.')"
			style="width: 200px">Update Invoices</button> 
	

</form>
  
    <!--First tooltip-->
    <a href="#" class="tooltip">
        Tooltip
        <span>

            <strong>Most Light-weight Tooltip</strong><br />
            This is the easy-to-use Tooltip driven purely by CSS.
        </span>
    </a>
    <!--<a title="tootltip" href="#">fwffw</a>
    <table>
        <tr><th>Detailed view</th></tr>
        <tr title="row 1">
            <td>
                <span class="spnDetails">Details</span><span class="spnTooltip">

                    <strong>Most Light-weight Tooltip</strong><br />
                    This is the easy-to-use Tooltip driven purely by CSS.
                </span>
            </td>
        </tr>
        <tr title="row 2">
            <td>
                <span class="spnDetails">Details</span><span class="spnTooltip">

                    <strong>Most Light-weight Tooltip</strong><br />
                    This is the easy-to-use Tooltip driven purely by CSS.
                </span>
            </td>
        </tr>
    </table>-->



    <script src='{% static "dashapp/styles/Bootstrapv337.js" %}' type="text/javascript"></script>
    <script src='{% static "dashapp/styles/jquery-1.12.4.min.js" %}' type="text/javascript"></script>
    <script src='{% static "dashapp/styles/javascript.js" %}' type="text/javascript"></script>

<!--     <form action="{% url 'dashapp:invstore_invoice_delete' %}" method="post" enctype="multipart/form-data"> -->
<!--         {% csrf_token %} -->
<!--         <input type="hidden" id="invoiceno" name="invoiceno" value="0"> -->
<!--         <button type="submit" class="btn btn-danger" -->
<!--                 onclick="return confirm('Are you sure? you want to delete all Invoices.\n This will Remove all invoices from the system.')" -->
<!--                 style="width:300px"> -->
<!--             Delete All Invoices -->
<!--         </button> -->
<!--     </form> -->
<!--     {{DELETE_STATUS}} -->
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<div class="container">
    <h2>Button Styles</h2>
    <button type="button" class="btn">Basic</button>
    <button type="button" class="btn btn-default">Default</button>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-link">Link</button>
</div>
    { "state": "","arc": "","billingdateto": "", "remarks": "", "fullsiteaddress": "", "customerid": "","servicetype": "", "billingdatefrom": "", "speed": "", "division": "", "taxname": "", "total": "","accountno": "", "pin": "", "circuitid": "", "invoicedate": "", "invoiceno": "", "siteid": "", "gstno": "", "premiseno": "", "city": "", "tsp": "", "customername": "", "slno": "",  "premisename": "" }-->

    
<!-- {{invstore_list_invoices}} -->

<!-- {% for history in invstore_list_invoices%} -->
 
<!-- 	 {%for xd in  history.history_list %} -->
<!-- 	  ========{{xd.xldata}} -->
<!-- 	  ========{{xd.xldata}} -->
<!-- 	 {% endfor %} -->
 
<!--   {% endfor %} -->

{{invstore_list_invoices}}