


<!--<table>

    <tr>
        <th>username </th>
        <th>email </th>
        <th>Role List</th>
        <th>Role</th>
        <th>Organization</th>
        <th>Unit</th>
        <th>Department</th>
        <th>Work Function Context</th>
    </tr>

    {% for user in list_users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles }} </td>
        <td>
            {% for role in user.roles %}
            {{ role }}
            {% endfor %}
        </td>
        <td> {{ user.wfc.org }} </td>
        <td> {{ user.wfc.orgunit}} </td>
        <td> {{ user.wfc.department}} </td>
        <td> {{ user.wfc.name}} </td>

    </tr>
    {% endfor %}
</table>



<h4> Home Page  href link</h4>-->





<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Role List</th>
                <th>Role</th>
                <th> Organization</th>
                <th> Unit</th>
                <th> Deparment</th>
                <th> Work Function Context</th>
            </tr>
        </thead>
        <tbody>
            {% for user in list_users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles }} </td>
                <td>
                    {% for role in user.roles %}
                    {{ role }}
                    {% endfor %}
                </td>
                <td> {{ user.wfc.org }} </td>
                <td> {{ user.wfc.orgunit}} </td>
                <td> {{ user.wfc.department}} </td>
                <td> {{ user.wfc.name}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

