{% load i18n %}
{% load l10n %}
{% load static %}


<style type="text/css">
    body {
        color: #404E67;
        background: #F5F7FA;
        font-family: 'Open Sans', sans-serif;
    }

    .table-wrapper {
        width: 100%;
        margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 5px;
        margin: 0 0 5px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    table.table {
        table-layout: fixed;
    }

        table.table tr th, table.table tr td {
            border-color: #e9e9e9;
        }

        table.table th i {
            font-size: 13px;
            margin: 0 5px;
            cursor: pointer;
        }

        table.table th:last-child {
            width: 100px;
        }

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

            table.table td a.add {
                color: #27C46B;
            }

            table.table td a.edit {
                color: #FFC107;
            }

            table.table td a.delete {
                color: #E34724;
            }

        table.table td i {
            font-size: 19px;
        }

        table.table td a.add i {
            font-size: 24px;
            margin-right: -1px;
            position: relative;
            top: 3px;
        }

        table.table .form-control {
            height: 32px;
            line-height: 32px;
            box-shadow: none;
            border-radius: 2px;
        }

            table.table .form-control.error {
                border-color: #f50000;
            }

        table.table td .add {
            display: none;
        }
</style>
<script type="text/javascript">

    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        var actions = $("table td:last-child").html();
        // Append table with add row form on add new button click
        $(".add-new").click(function () {
            $(this).attr("disabled", "disabled");
            var index = $("table tbody tr:last-child").index();
            var row = '<tr>' +
                '<td><input type="text" class="form-control" name="name" id="name"></td>' +
                '<td><input type="text" class="form-control" name="department" id="department"></td>' +
                '<td><input type="text" class="form-control" name="phone" id="phone"></td>' +
                '<td>' + actions + '</td>' +
                '</tr>';
            $("table").append(row);
            $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
            $('[data-toggle="tooltip"]').tooltip();
        });
        // Add row on add button click
        $(document).on("click", ".add", function () {
            var empty = false;
            var input = $(this).parents("tr").find('input[type="text"]');
            input.each(function () {
                if (!$(this).val()) {
                    $(this).addClass("error");
                    empty = true;
                } else {
                    $(this).removeClass("error");
                }
            });
            $(this).parents("tr").find(".error").first().focus();
            if (!empty) {
                input.each(function () {
                    $(this).parent("td").html($(this).val());
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").removeAttr("disabled");
            }
        });
        // Edit row on edit button click
        $(document).on("click", ".edit", function () {
            $(this).parents("tr").find("td:not(:last-child)").each(function () {
                $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
            });
            $(this).parents("tr").find(".add, .edit").toggle();
            $(".add-new").attr("disabled", "disabled");
        });
        // Delete row on delete button click
        $(document).on("click", ".delete", function () {
            $(this).parents("tr").remove();
            $(".add-new").removeAttr("disabled");
        });
    });
</script>
<div style="padding-left:100px">
    {% if list_users is not null %}
    <!--{{ list_users }}-->
</div>
{{STATUS_ADDUSER}}
{{DELETE_STATUS}}

<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>User <b>Details</b></h3></div>
            <div class="col-sm-4">
                <a class="btn btn-primary" href="{% url 'dashapp:adduser' %}" > ADD USER</a> 
                
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Organization</th>
                <th>Unit</th>
                <th>Deparment</th>
                <th>WFC</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for user in list_users %}
            <tr style="font-size:11px">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                    {{ role }}
                    {% endfor %}
                </td>
                <td> {{ user.wfc.org }} </td>
                <td> {{ user.wfc.orgunit}} </td>
                <td> {{ user.wfc.department}} </td>
                <td> {{ user.wfc.name}} </td>
                <td> 
                <form action="{% url 'dashapp:delete_user' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="username" name="username" value="{{user.username}}"  class="form-control">
                        <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete User')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>         
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

RESULT : {{ list_users }}

{% elif list_org is not null %}
<!--organizations-->


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Organization <b>Details</b></h3></div>
            <div class="col-sm-4">
                
            </div>
        </div>
    </div>
    {{DELETE_STATUS}}
    <table align="center" width="80%" style="padding-left: 50px">
        <tr>
            <td>
                {% if DELETE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    Organization Deleted Successfully.<br />{{DELETE_STATUS}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a Organization(s), Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <form action="{% url 'dashapp:add_org' %}" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered"><tr><td style="width:60%">
    
                        {% csrf_token %}
                        <input type="text" id="orgname" name="orgname" value="{{org.name}}"  class="form-control">
                        </td><td>
                        <button type="submit" class="btn btn-success " style="width:100px"  onclick="return confirm('Are you sure? you want to Add Organization')">                             
                        Save</button>
   
    </td>
    </tr>
    </table>
     </form>
       
        
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for org in list_org %}
            <tr style="font-size:11px">
                <td>{{ org.name  }}</td>
                <td>
                    <form action="{% url 'dashapp:delete_org' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="orgname" name="orgname" value="{{org.name}}">
                        <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete Organization')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
RESULT : {{ list_org }}


{% elif list_dept is not null %}
<!--Department-->


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Department <b>Details</b></h3></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>
    {{DELETE_STATUS}}
    <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if DELETE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    Department Deleted Successfully.<br />{{DELETE_STATUS}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a Department, Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <form action="{% url 'dashapp:add_dept' %}" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered"><tr><td style="width:60%">
    
                        {% csrf_token %}
                        <input type="text" id="deptname" name="deptname" value="{{dept.name}}"  class="form-control">
                        </td><td>
                        <button type="submit" class="btn btn-success " style="width:100px"  onclick="return confirm('Are you sure? you want to Add Department')">                             
                        Save</button>
   
    </td>
    </tr>
    </table>
     </form>
       
        
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for dept in list_dept %}
            <tr style="font-size:11px">
                <td>{{ dept.name  }}</td>
                <td>
                    <form action="{% url 'dashapp:delete_dept' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="deptname" name="deptname" value="{{dept.name}}">
                        <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete Department')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
RESULT : {{ list_dept }}


{% elif list_role is not null %}
<!--Role-->


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>Role <b>Details</b></h3></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>
    {{DELETE_STATUS}}
    <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if DELETE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    Role Deleted Successfully.<br />{{DELETE_STATUS}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a Role, Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <form action="{% url 'dashapp:add_role' %}" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered"><tr><td style="width:60%">
    
                        {% csrf_token %}
                        <input type="text" id="rolename" name="rolename" value="{{role.name}}"  class="form-control">
                        </td><td>
                        <button type="submit" class="btn btn-success " style="width:100px"  onclick="return confirm('Are you sure? you want to Add Role')">                             
                        Save</button>
   
    </td>
    </tr>
    </table>
     </form>
       
        
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for role in list_role %}
            <tr style="font-size:11px">
                <td>{{ role.name  }}</td>
                <td>
                    <form action="{% url 'dashapp:delete_role' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="rolename" name="rolename" value="{{role.name}}">
                        <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete Role')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
RESULT : {{ list_role }}


{% elif list_ou is not null %}
<!--OU-->


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>OU <b>Details</b></h3></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
            </div>
        </div>
    </div>
    {{DELETE_STATUS}}
    <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if DELETE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    OU Deleted Successfully.<br />{{DELETE_STATUS}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a Role, Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    <form action="{% url 'dashapp:add_ou' %}" method="POST" enctype="multipart/form-data">
    <table class="table table-bordered"><tr><td style="width:60%">
    
                        {% csrf_token %}
                        <input type="text" id="ouname" name="ouname" value="{{ou.name}}"  class="form-control">
                        </td><td>
                        <button type="submit" class="btn btn-success " style="width:100px"  onclick="return confirm('Are you sure? you want to Add Role')">                             
                        Save</button>
   
    </td>
    </tr>
    </table>
     </form>
       
        
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ou in list_ou %}
            <tr style="font-size:11px">
                <td>{{ ou.name  }}</td>
                <td>
                    <form action="{% url 'dashapp:delete_ou' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="ouname" name="ouname" value="{{ou.name}}">
                        <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete OU')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
RESULT : {{ list_ou }}

{% elif list_wfc is not null %}
<!--WFC-->


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8"><h3>WFC <b>Details</b></h3></div>
            <div class="col-sm-4">
                <a class="btn btn-primary" href="{% url 'dashapp:add_wfc' %}" > ADD WFC</a>
            </div>
        </div>
    </div>
    {{DELETE_STATUS}}
    <table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if DELETE_STATUS is not null %}
                <div class="alert alert-success" role="alert">
                    WFC Deleted Successfully.<br />{{DELETE_STATUS}}
                </div>
                {% elif EXCEPTION is not null %}
                <div class="alert alert-danger" role="alert">
                    There is been an error while deleting a WFC, Please Try after sometime or contact Administrator. <br />
                    {% if EXCEPTION_INFO is not null %}
                    {{EXCEPTION_INFO}}
                    {% endif %}
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
   
    </td>
    </tr>
    </table>
     </form>
       
        
    <table class="table table-bordered">
        <thead>
            <tr style="font-size:12px">
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for wfc in list_wfc %}
            <tr style="font-size:11px">
                <td>{{ wfc.name  }}</td>
                <td>
                    <form action="{% url 'dashapp:delete_wfc' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="wfcname" name="wfcname" value="{{wfc.name}}"> 
                                                <button type="submit" class="btn btn-danger " 
                                onclick="return confirm('Are you sure? you want to Delete WFC')">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

RESULT : {{ list_wfc }}

{% endif %}

<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>-->
 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">TSP:</label>
                        <input type="text" class="form-control" id="tsp">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">servicetype:</label>
                        <input type="text" class="form-control" id="servicetype">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">accountno:</label>
                        <input type="text" class="form-control" id="accountno">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">circuitid:</label>
                        <input type="text" class="form-control" id="circuitid">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">slno:</label>
                        <input type="text" class="form-control" id="slno">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">ARC:</label>
                        <input type="text" class="form-control" id="arc">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Site ID:</label>
                        <input type="text" class="form-control" id="customerid">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Customer ID:</label>
                        <input type="text" class="form-control" id="customerid">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Premise Number:</label>
                        <input type="text" class="form-control" id="premiseno">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Premise Name:</label>
                        <input type="text" class="form-control" id="premisename">
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">customername:</label>
                        <input type="text" class="form-control" id="customername">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">division:</label>
                        <textarea class="form-control" id="division"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Full Site Address:</label>
                        <input type="text" class="form-control" id="fullsiteaddress">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">State:</label>
                        <input class="form-control" id="state" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">PIN:</label>
                        <input class="form-control" id="pin" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">City:</label>
                        <input class="form-control" id="city" />
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Speed:</label>
                        <input class="form-control" id="speed" />
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">GST Number:</label>
                        <input class="form-control" id="gstno" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tax Name:</label>
                        <input class="form-control" id="taxname" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Total:</label>
                        <input class="form-control" id="total" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Invoice Date:</label>
                        <input class="form-control" id="invoicedate" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Billingdate From:</label>
                        <input class="form-control" id="billingdatefrom" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Billingdate To:</label>
                        <input class="form-control" id="billingdateto" />
                    </div> 
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Remarks:</label>
                        <input class="form-control" id="remarks" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Invoice</button>
            </div>
        </div>
    </div>
</div>



<!--<table>

    <tr>
        <th>username </th>
        <th>email </th>
        <th>Role List</th>
        <th>Role</th>
        <th>Organization</th>
        <th>Unit</th>
        <th>Department</th>
        <th>Work Function Context</th>
    </tr>

    {% for user in list_users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.roles }} </td>
        <td>
            {% for role in user.roles %}
            {{ role }}
            {% endfor %}
        </td>
        <td> {{ user.wfc.org }} </td>
        <td> {{ user.wfc.orgunit}} </td>
        <td> {{ user.wfc.department}} </td>
        <td> {{ user.wfc.name}} </td>

    </tr>
    {% endfor %}
</table>



<h4> Home Page  href link</h4>-->
<!--<div class="table-responsive">
    <div class="tim-row" id="tutorial">
        <h4 class="text-left">List of Users</h4>
        <legend></legend>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Role</th>
                <th> Organization</th>
                <th> Unit</th>
                <th> Deparment</th>
                <th> Work Function Context</th>
            </tr>
        </thead>
        <tbody>
            {% for user in list_users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                    {{ role }}
                    {% endfor %}
                </td>
                <td> {{ user.wfc.org }} </td>
                <td> {{ user.wfc.orgunit}} </td>
                <td> {{ user.wfc.department}} </td>
                <td> {{ user.wfc.name}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>-->
