<!--lnet_d = {"infoopsid": "", "altaddress_id": 0, "rate_id": 0, "last_payment_date": "01-04-2019"}-->
<form action="{% url 'dashapp:managelocalnet' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table-responsive" style="width:60%">
        <div class="tim-row" id="tutorial">
            <h4 class="text-left">Add Local NET</h4>
            <legend></legend>
        </div>
        <!--<form action="/action_page.php">-->
        <div style="padding-left:100px">
            <div class="form-group">
                <label for="infoopsid">INFOOPS ID:</label>
                <!--<input type="text" class="form-control" id="infoopsid" name="infoopsid">-->
                <select class="form-control" id="infoopsid_id" name="infoopsid_id">
                    <option>Select</option>
                    {% for lnk in list_links_localnet%}
                    <option value="{{ lnk.circuit_ID }}">{{ Inv.division_name }}_{{ Inv.tsp_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="altaddress_id">altaddress_id:</label>
                <!--<input type="text" class="form-control" id="altaddress_id" name="altaddress_id">-->
                <select class="form-control" id="altaddress_id">
                    <option>Select</option>
                    {% for add in list_Altaddress%}
                    <option value="{{ add.id }}">{{ add.prem_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="rate_id">rate_id:</label>
                <!--<input type="text" class="form-control" id="rate_id" name="rate_id">-->
                <select class="form-control" id="rate_id">
                    <option>Select</option>
                    {% for rt in list_rate%}
                    <option value="{{ rt.id }}">{{ add.tsp }}_{{ add.linktype }}__{{ add.activitytype }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="city">Last Payment Date:</label>
                <input type="text" class="form-control" id="last_payment_date" name="last_payment_date">
            </div>
            <button type="submit" class="btn btn-success" style="width:300px">Save</button>
            <br /><br />
        </div>
    </div>
</form>