{% url 'dashapp:list_users' as luser %}
{% url 'dashapp:list_org' as lorg %}
{% url 'dashapp:list_dept' as ldept %}
{% url 'dashapp:list_role' as lrole %}
{% url 'dashapp:list_ou' as lou %}
{% url 'dashapp:list_wfc' as lwfc %}
{% url 'dashapp:list_service' as lservice %}
	  <ul class="navbar-nav py-0"> 
		    <!-- User Admin  -->
		    <li class="nav-item dropdown py-0">
		      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		        User Admin
		      </a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item" href="{{ luser }}">Manage Users</a>
		        <a class="dropdown-item" href="{{ lorg }}">Manage Org</a>
		        <a class="dropdown-item" href="#">Link 3</a>
		      </div>
		    </li>
		    
		   <!-- Invoice Admin -->
	          <li class="nav-item dropdown py-0">
	            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	              Invoice Admin
	            </a>
	            <div class="dropdown-menu">
	              <a class="dropdown-item" href="#">Link 1</a>
	              <a class="dropdown-item" href="#">Link 2</a>
	              <a class="dropdown-item" href="#">Link 3</a>
	            </div>
	          </li> 
        </ul>
  
       

		  