{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:add_dept' as adpt%}
{% url 'dashapp:list_dept' as ldept%}

 <form action="{{ adpt }}" method="post">
      {% csrf_token %}  
        <div class="cotainer">
	        <div class="row justify-content-center">
	           <div class="col-md-8">
                   <div class="card">
                        <div class="card-header">Add New map for mail notification</div>
                        <div class="card-body">
	 					    <div class="form-group row">
                             <label for="deptname" class="col-md-4 col-form-label text-sm-right "> Name</label>
                             <div class="col-md-8">
                                 <input type="text" class="form-control input-sm" id="deptname" name="deptname" required >
                             </div>
			             	</div>
			             	 <div class="row">
                                     <div class="col-sm-3">
                <button class="btn btn-sm fa fa-plus"  type="submit"> &nbsp SAVE</button>
            </div>
            <div class="col-sm-5 justify-content-center">     
            </div>
            <div class="col-sm-3 justify-content-end"  >
                <a class="btn  btn-sm fa fa-minus" href="{{ ldept }}"> &nbsp CANCEL</a>
            </div>
                             </div>
			             </div>			                
		             </div>		             
	             </div>
             </div>
        </div>
    
</form>{% endblock content-area %}

<!--  ======================================== CODE ENDs HERE ==========================================    -->