{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:create_mailmap' as create_mailmap %}

    <div class="container-fluid" style="padding-top:7px">
        {% block list_invoice_add_delete %}
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-primary btn-sm fa fa-plus" href="{{ create_mailmap }}"> 
                    &nbsp add new mailmap
                </a>
            </div>
            <div class="col-sm-7 justify-content-center">
                <h5>mail notification organization and receipients for each status </h5>
            </div>
            <div class="col-sm-2 justify-content-end">
                <a class="btn btn-danger btn-sm fa fa-minus" href="#"> 
                    &nbsp delete all mailmap
                </a>
            </div> 
        </div>
        {% endblock list_invoice_add_delete %}
        <table class="table table-striped table-hover">
            <thead >
                <tr style="background-color: #4CAF50;font-size:10px">
                    <th>Status_name</th>
                    <th>mail_map_id</th>
                    <th>Organization</th>
                    <th>list of mail recipients</th>
                    <th>edit</th>
                    <th>delete</th>                      
                </tr>
            </thead>
            <tbody>
                {% for l in mail_map_all  %}
                  <tr style="font-size:10px">                   
                    <td>{{ l.status_name }}</td>
                    <td>{{ l.docid }}</td>
                    <td></td><td></td>
                    <td>
                         <a class="fa fa-edit" style="font-size:10px;color:red"  href="{% url 'dashapp:list_mailmap_by_status' l.docid %}" ></a>
                    </td>
                    <td>
                        <a class="fa fa-remove" style="font-size:10px;color:red"  href="{% url 'dashapp:list_mailmap_by_status' l.docid %}" ></a>                         
                    </form>
                    </td>  
	                    {% for d in l.list_of_recpt_org %}
	                       <tr style="font-size:10px">
	                       <td></td><td></td>
			                    <td>{{ d.org_name }}</td>
			                    <td>{{ d.recipient_emails }}</td>
		                    </tr>
	                    {% endfor %}
                    {% block delete_icon %}
                    {% endblock delete_icon %}
              
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock content-area %}

