{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:adduser' as aduser%}
{% url 'dashapp:list_users' as luser%}



<form action="{{ aduser }}" method="post">{% csrf_token %}  
        <div class="cotainer">
	        <div class="row justify-content-center">
	           <div class="col-md-8">
                   <div class="card">
                        <div class="card-header">Add New User</div>
                        <div class="card-body">
	 					    <div class="form-group row">
                             <label for="username" class="col-md-4 col-form-label text-sm-right "> Name</label>
                             <div class="col-md-8">
                                 <input type="text" class="form-control" id="username" name="username" required>
                             </div>
			             	</div>
			             	 <div class="form-group row">
                             <label for="email" class="col-md-4 col-form-label text-sm-right "> Email</label>
                             <div class="col-md-8">
                                <input type="email" class="form-control" id="email" name="email">
                             </div>
			             	</div>
			             	 <div class="form-group row">
                             <label for="role" class="col-md-4 col-form-label text-sm-right "> Role</label>
                             <div class="col-md-8">
                                 <select  id="role" class="form-control" name="role"> <option>Select</option>
		                                            {% for rol in ROLELIST.status %}
		                                                <option>{{ rol.name  }}</option>
		                                            {% endfor %}
                                        </select>
                             </div>
			             	</div>
			             	 <div class="form-group row">
                             <label for="wfc" class="col-md-4 col-form-label text-sm-right "> WFC</label>
                             <div class="col-md-8">
                                 <select  id="wfc" class="form-control" name="wfc"> <option>Select</option>
                                                {% for wfc in WFCLIST.status %}
                                                    <option data-toggle="tooltip" data-placement="right" 
                                                    title="{{wfc.org}}, {{wfc.orgunit}}, {{wfc.department}}">
                                                    {{ wfc.name  }}
                                                    </option>
                                                {% endfor %}              
                                          </select>
                             </div>
			             	</div>
			             	 <div class="form-group row">
                             <label for="Active" class="col-md-4 col-form-label text-sm-right "> Active</label>
                             <div class="col-md-8">
                                  <div class="form-check-inline  "  >
	                            <input type="radio"  name="is_active" value="Y" checked> Yes &nbsp &nbsp
	                            <input type="radio" name="is_active" value="N" > No
	                        </div>
                             </div>
			             	</div>
			             	
			             	 <div class="form-group row">
                             <label for="OTP" class="col-md-4 col-form-label text-sm-right "> OTP</label>
                             <div class="col-md-8">
                               <div class="form-check-inline  "  >
                                <input type="radio" name="otpmode" value="mail" > Mail &nbsp &nbsp
                                <input type="radio" name="otpmode" value="sms" > SMS &nbsp &nbsp
                                <input type="radio" name="otpmode" value="show" > Show
                            </div>
                             </div>
			             	</div>
			             	 <div class="form-group row">
                             <label for="maillogin" class="col-md-4 col-form-label text-sm-right "> Mail Login</label>
                             <div class="col-md-8">
                                   <div class="form-check-inline  "  >
                                <input type="radio" name="allowemaillogin" value="Y" checked> Yes &nbsp &nbsp
                                <input type="radio" name="allowemaillogin" value="N" > No
                            </div></td>
                             </div>
			             	</div>
			             	 <div class="form-group row">
                             <label for="password" class="col-md-4 col-form-label text-sm-right "> Password</label>
                             <div class="col-md-8">
                                 <input type="password" class="form-control" 
                            					id="password" name="password" required>
                             </div>
			             	</div>
			             	
			             	 <div class="row">
                                     <div class="col-sm-3">
                <button class="btn btn-sm fa fa-plus"  type="submit"> &nbsp SAVE</button>
            </div>
            <div class="col-sm-5 justify-content-center">     
            </div>
            <div class="col-sm-3 justify-content-end"  >
                <a class="btn  btn-sm fa fa-minus" href="{{ luser }}"> &nbsp CANCEL</a>
            </div>
                             </div>
			             </div>			                
		             </div>		             
	             </div>
             </div>
        </div>
        
    </form>
{% endblock content-area %}


<!--  ======================================== CODE ENDs HERE ==========================================    -->