
{% url 'dashapp:change_password' as change_password %}


    <div class="container-fluid" style="padding-top:7px">
        <form action="{{ change_password }}" method="post">
           {% csrf_token %}            
        <table class="table" id="edit-format">            
            <tbody>   
                  <th><p>Change Password</p></th>
                  <tr >                 
                       <td class="py-0"><label for="Name">Username:</label></td>
                       <td class="py-0"><input type="text" placeholder={{ uname }} id="username" name="username" required></td>
                  </tr>            
			      <tr >			        
				       <td class="py-0"><label for="Name">Old Password:</label></td>
				       <td class="py-0"><input type="password"  id="old_password" name="old_password" required></td>
				  </tr>
				  <tr>
				       <td class="py-0"><label for="Name">New Password:</label></td>
                       <td class="py-0"><input type="password"  id="new_password" name="new_password" required></td>                    
                  <tr>
                  <tr>
                       <td class="py-0"><label for="Name">Reconfirm New Password:</label></td>
                       <td class="py-0"><input type="password" id="reconfirm_new_password" name="reconfirm_new_password" required></td>                    
                  <tr> 
                   </tr>   		        
			</tbody> 
		</table>
	</div>
	
	<div class="container-fluid" id="edit-format">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-sm fa fa-plus"  type="submit"> &nbsp SAVE</button>
            </div>
            <div class="col-sm-7 justify-content-center">     
            </div>
            <div class="col-sm-2 justify-content-end">
                <a class="btn  btn-sm fa fa-minus" href="{{ lorg }}"> &nbsp CANCEL</a>
            </div> 
            </form>
        </div>
    



<!--  ======================================== CODE ENDs HERE ==========================================    -->