{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:add_org' as addorg%}
{% url 'dashapp:delete_org' as dorg %}
    <div class="container-fluid" style="padding-top:7px">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-primary btn-sm fa fa-plus" href="{{ addorg }}"> &nbsp add new Org</a>
            </div>
            <div class="col-sm-7 justify-content-center">
                <h5>List of registered Org in tokenleader</h5>
            </div>
            <div class="col-sm-2 justify-content-end">
                <a class="btn btn-danger btn-sm fa fa-minus" href="#"> &nbsp delete all Org</a>
            </div> 
        </div>
               
        <table class="table table-striped table-hover">
            <thead >
                <tr style="background-color: #4CAF50;font-size:12px">
			        <th>Org Name</th>			        
			        <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for t in list_org %}
			      <tr style="font-size:10px">			        
			        <td>{{ t.name}}</td>
			        <td>
			             <form action="{{dorg}}" method="POST" 
			                             enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="orgname" name="orgname" value="{{t.name}}" 
                                             class="form-control">
                            <button class="fa fa-remove" style="font-size:10px;color:red" 
                                type="submit"  onclick="return confirm('Are you sure? you want to Delete User')">                                
                            </button>
                    </form>
			        </td> 
			      </tr>
			    {% endfor %}
			</tbody>
		</table>
	</div>
    
{% endblock content-area %}


<!--  {'is_active': 'Y', 'otp_mode': 'mail', 'allowemaillogin': 'N', 
        'email': 'prasen.biswas@itc.in', 'created by': 'user1', 
        'wfc': {'is_active': 'Y', 'org': 'org1', 
                 'creation_date': '2019-07-04 15:03:08', 'created by': None, 'name': 'wfc1', 
                 'orgunit': 'ou1', 'id': 1, 'department': 'dept1'}, 
        'username': 'prasen', 'id': 6, 'roles': ['role1'], 'creation_date': '2019-07-08 12:55:16'} -->