{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:penman_delete_events' as deleteevents %}



<div class="container-fluid" style="padding-top:7px">
<table align="center" width="90%" style="padding-left: 150px">
        <tr>
            <td>
                {% if delete_status is not null %}
                <div class="alert alert-success" role="alert">
                     Delete Status : {{delete_status}}
                </div>                 
                {% endif %}
            </td>
        </tr>
    </table>
   
      <form action="{% url 'dashapp:penman_delete_events' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="invoiceno" name="invoiceno" value="0">        <div align="right">
        <button type="submit" class="btn btn-danger btn-sm"
                onclick="return confirm('Are you sure? you want to delete all Invoice Events.\n This will Remove all invoice Events from the system.')" >
            Delete All Invoice Events
        </button>
        </div> 
    </form>
    
  Invoicenum - {{invoicenum}}
  Event_id - {{event_id}}  
  Test - {{test}} 
  Records are displaying in resent first sequence, (last modified displayed first)
 <table class="table table-striped table-hover">
  <thead>
          <tr style="background-color: #4CAF50;font-size:10px">
          <th></th>
          <th>Invoice Number</th>
          <th>Event </th>           
          <th>Created By</th>
          <th>Created On</th> 
  </thead>
   {% for peninvoice in Penman_list_events reversed%}
	   {% for Inv in peninvoice.event_history_list %}
	   <tr  style= "font-size:10px;" >
			<td>
			      <form action="{% url 'dashapp:delete_event' %}" method="post" enctype="multipart/form-data">
				        {% csrf_token %}
				        <input type="hidden" id="invoiceno" name="invoiceno" value="{{ Inv.eventdata.InvoiceNo }}">
				        <input type="hidden" id="event_id" name="event_id" value="{{ Inv.event_id }}">
				           <button type="submit" class="btn btn-danger btn-bg fa fa-trash "
			                onclick="return confirm('Are you sure? you want to delete Event- {{ Inv.event_name }} of {{ Inv.eventdata.InvoiceNo }} ')" >			                 
			                </button>
		         </form>
			      </td>	
			<td >{{ Inv.eventdata.InvoiceNo}} </td>
			<td>{{ Inv.event_name }}</td>
			<td>{{Inv.auditinfo.logged_in_user_email}}</td>
			<td>{{Inv.auditinfo.api_call_time_stamp}}</td>
			 
       </tr>
          
		{%endfor%}       
		{%endfor%}   
    </table>     
	
</div>
    
{% endblock content-area %}


<!--  {'is_active': 'Y', 'otp_mode': 'mail', 'allowemaillogin': 'N', 
        'email': 'prasen.biswas@itc.in', 'created by': 'user1', 
        'wfc': {'is_active': 'Y', 'org': 'org1', 
                 'creation_date': '2019-07-04 15:03:08', 'created by': None, 'name': 'wfc1', 
                 'orgunit': 'ou1', 'id': 1, 'department': 'dept1'}, 
        'username': 'prasen', 'id': 6, 'roles': ['role1'], 'creation_date': '2019-07-08 12:55:16'} -->