{% url 'dashapp:list_users' as luser %}
{% url 'dashapp:list_org' as lorg %}
{% url 'dashapp:list_dept' as ldept %}
{% url 'dashapp:list_role' as lrole %}
{% url 'dashapp:list_ou' as lou %}
{% url 'dashapp:list_wfc' as lwfc %}
{% url 'dashapp:list_service' as lservice %}
{% url 'dashapp:paperhouse_list_invoice' 'all' 'read' 'normal' as list_invoices %}
{% url 'dashapp:paperhouse_list_invoice' 'all' 'read' 'admin' as list_invoices_admin %}
{% url 'dashapp:list_links'  as list_links %}
{% url 'dashapp:list_ravl_obj' "Lnetlink" user_details.roles.0 as list_ravl_links %}
{% url 'dashapp:list_ravl_obj' "Altaddress" user_details.roles.0 as list_ravl_Altaddress %}
{% url 'dashapp:list_ravl_obj' "Rate" user_details.roles.0 as list_ravl_Rate %}
{% url 'dashapp:list_ravl_obj' "Payment" user_details.roles.0 as list_ravl_Payment %}
{% url 'dashapp:paperhouse_savedraft_list'  "all" as list_draft %}
{% url 'dashapp:paperhouse_list_invoice' 'all' 'delete' 'admin' as list_invoices_del %}

{% url 'dashapp:listdocs' as listdocs %}
{% url 'dashapp:penman_list_events' as listevents %}
{% url 'dashapp:striker_list_responces' 'all' as listresponses %}
{% url 'dashapp:list_mailmap_by_status' 'all' as list_mailmap_by_status %}
{% url 'dashapp:list_wfdoc' 'tspinvoice' as list_flexflow_invoices %}
{% url 'dashapp:list_doctypes'  as list_doctypes %}



	  <ul class="navbar-nav py-0"> 
		    <!-- User Admin  -->
		     
        </li>
            <li class="nav-item dropdown py-0">
              <a class="nav-link dropdown-toggle fas fa-tools" href="{{ list_doctypes }}" id="navbardrop" data-toggle="dropdown">
                Settings
              </a> 
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ luser }}">Users</a>
                <a class="dropdown-item" href="{{ lorg }}">Org</a>
                <a class="dropdown-item" href="{{ ldept }}">Dept</a>
                <a class="dropdown-item" href="{{ lrole }}">Role</a>
                <a class="dropdown-item" href="{{ lou }}">OU</a>
                <a class="dropdown-item" href="{{ lwfc }}">WFC</a>
                <a class="dropdown-item" href="{{ lservice }}">Catalog Service</a>
                <a class="dropdown-item" href="{{ list_mailmap_by_status }}">Manage notification mail</a>                 
                
                <a class="dropdown-item" href="{% url 'dashapp:list_wfmobj' 'Doctype'%} "> Workflow Document Type</a>
                <a class="dropdown-item" href="{% url 'dashapp:list_wfmobj' 'Wfstatus'%} "> Workflow status</a>
                <a class="dropdown-item" href="{% url 'dashapp:list_wfmobj' 'Datadocfield'%} "> Fields in Document</a>
                <a class="dropdown-item" href="{% url 'dashapp:list_wfmobj' 'Wfaction'%} "> Workflow Action Rules</a>
                                
                <a class="dropdown-item" href="{{ list_doctypes }}"> Dynamic Workflow List</a>
              </div>
            </li>
		    
		   <!-- Invoice  -->
	          <li class="nav-item dropdown py-0">
	            <a class="nav-link dropdown-toggle fas fa-tasks" href="#" id="navbardrop" data-toggle="dropdown">
	              Invoices
	            </a>
	            <div class="dropdown-menu">
	            <a class="dropdown-item" href="{{ list_flexflow_invoices }}">flexflow invoices</a>
	              <a class="dropdown-item" href="{{list_invoices}}">All</a>
	              <a class="dropdown-item" href="{{ list_draft }}">Saved as Draft </a>
	              <a class="dropdown-item" href="#">Ready to Send MIS</a>
	              <a class="dropdown-item" href="#">In progress</a>
                  <a class="dropdown-item" href="#">pending for tsp</a>
                  <a class="dropdown-item" href="#">pending for division</a>
                  <a class="dropdown-item" href="#">pending for Infobahn</a>
                  <a class="dropdown-item" href="#">Closed</a>
                  <a class="dropdown-item" href="{{list_invoices_admin}}">Invoice Admin</a>
	            </div>
	          </li> 
	          
	        <!-- Links -->
              <li class="nav-item dropdown py-0">
                <a class="nav-link dropdown-toggle fas fa-satellite-dish" href="#" id="navbardrop" data-toggle="dropdown">
                  Links
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{ list_links }}">List Infoops links</a>
                  <a class="dropdown-item" href="{{ list_ravl_links }}">Rate & Address verified links (RAVL)</a>
                  
                </div>
              </li> 
              
              <!-- Financial -->
              <li class="nav-item dropdown py-0">
                <a class="nav-link dropdown-toggle fas fa-calculator" href="#" id="navbardrop" data-toggle="dropdown">
                  Financial
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{ list_ravl_Altaddress }}">Site & GST </a>
                  <a class="dropdown-item" href="{{ list_ravl_Rate }}">CITPC Rates </a>
                  <a class="dropdown-item" href="{{ list_ravl_Payment }}">Payments to TSP</a>
                </div>
              </li> 
              
               <!-- Admin -->
              <li class="nav-item dropdown py-0">
                <a class="nav-link dropdown-toggle fas fa-user" href="#" id="navbardrop" data-toggle="dropdown">
                  Administration
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{ list_invoices_del }}">Delete All Invoice </a>
                  <a class="dropdown-item" href="{{ listevents }}">Delete All Events </a>
                  <a class="dropdown-item" href="{{ listresponses }}">Delete All Execute Status </a>                  
                
                </div>
              </li> 
              <li class="nav-item dropdown py-0">
                <a class="nav-link dropdown-toggle fas fa-user" href="#" id="navbardrop" data-toggle="dropdown">
                  Docs
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{{ listdocs }}">Docs </a>                  
                </div>
              </li> 
        </ul>
        	 
  
       

		  