{% block navigation_bar %}
{% url 'dashapp:logout' as logout %}
{% url 'dashapp:change_password' as change_password %}

 <nav class="navbar navbar-expand-sm bg-dark py-0 navbar-dark fixed-top py-my-0" > 
     
    <a class="navbar-brand py-0 fas fa-home" style='font-size:20px;color:red' href="/">InfoVoice</a>
    

    <div class="container">
	    {% if "role1" in user_details.roles or "adminrole" in user_details.roles  or "INFOBAHN" in user_details.roles or "ITSS" in user_details.roles %}       

		   {% include "navbar/nav_dropdown_admin.html" %}
		{% elif "TSP" in user_details.roles %}
		   {% include "navbar/nav_dropdown_tsp.html" %}
		{% elif "MIS" in user_details.roles %}
	       {% include "navbar/nav_dropdown_mis.html" %}
	    {% else  %}
	       <div class="nav-text  text-info" >
	           No action for role {{ user_details.roles|join:"," }}
	       </div>
	    {% endif %}
    </div>
	
    <div class="container justify-content-center">
	    <div class="nav-text  text-warning py-0
	        font-weight-bolder" style="font-family:Impact">
	        <h1>InfoVoice</h1>
	    </div>
    </div>
    <div class="container justify-content-end">  
	    <ul class="navbar-nav  py-0">
	       <li class="nav-item dropdown py-0">
	          <a class="nav-link dropdown-toggle fas fa-user"  id="navbardrop" data-toggle="dropdown" 
	          href="#" style='color: lime'>
	             {{ user_details.username }}
	          </a>
	             <div class="dropdown-menu">
	                <p class="dropdown-item">{{ user_details.wfc.org }}</p>
	                <p class="dropdown-item">{{ user_details.email }}</p>
	                <p class="dropdown-item">{{ user_details.roles|join:"," }}</p>	
	                <a class="dropdown-item" href="{{ change_password }}">Change Password</a>                
	                <a class="dropdown-item" href="{{ logout }}">log out</a>
	             </div> 
	       </li>
	    </ul>
    </div>        
   
</nav>
{% endblock navigation_bar %}
		  