{% extends "home.html" %}
{% block content-area %}
{% url 'dashapp:list_ravl_obj' "Altaddress" user_details.roles.0 as list_ravl_obj %}


    <div class="container-fluid" style="padding-top:7px">
        <form action="{{ list_ravl_link }}" method="post">
           {% csrf_token %}            
        <table class="table" id="edit-format">            
            <tbody>   
                  <th><p>Add New RAVL Link</p></th>             
			      <tr >			        
				        <td class="py-0"><label for="prem_name">prem_name:</label></td>
                        <td class="py-0">
                            <input type="text"  id="prem_name" name="prem_name">
                        </td>
                        
			            <td class="py-0"><label for="prem_no">prem_no:</label></td>
			            <td class="py-0">
			                <input type="number"  id="prem_no" name="prem_no"> 
                        </td>
			       </tr>
			       
			       <tr >    
                        <td class="py-0"><label for="city">city:</label></td>
                        <td class="py-0">
                            <input type="text" id="city" name="city"> 
                        </td>
                        
                        <td class="py-0"><label for="state">state:</label></td>
                        <td class="py-0">
                            <input type="text" id="state" name="state"> 
                        </td>
                   </tr>
                   
                   <tr >                 
                        <td class="py-0"><label for="pin">pin:</label></td>
                        <td class="py-0">
                            <input type="number" id="pin" name="pin"> 
                        </td>
                        
                        <td class="py-0"><label for="gstn">"gstn":</label></td>
                        <td class="py-0">
                            <input type="text" id="gstn" name="gstn"> 
                        </td>
                   </tr>
                   
                   <tr >                 
                        <td class="py-0"><label for="sgst">sgst:</label></td>
                        <td class="py-0">
                            <input type="number" id="sgst" name="sgst_rate"> 
                        </td>
                        
                        <td class="py-0"><label for="cgst">"cgst":</label></td>
                        <td class="py-0">
                            <input type="number" id="cgst" name="cgst_rate"> 
                        </td>
                   </tr>		        
			</tbody> 
		</table>
	</div>
	<div class="container-fluid" id="edit-format">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-sm fa fa-plus"  type="submit"> &nbsp SAVE</button>
            </div>
            <div class="col-sm-7 justify-content-center">     
            </div>
            <div class="col-sm-2 justify-content-end">
                <a class="btn  btn-sm fa fa-minus" href="{{ list_ravl_obj }}"> &nbsp CANCEL</a>
            </div> 
            </form>
        </div>
        
          
{% endblock content-area %}


<!--  ======================================== CODE ENDs HERE ==========================================    -->